.tela{
    width: 375px;
    height: 667px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
   
}

#cartao{
    background-color: #335d9c;
    position: relative;
}



#fazer-pix{
    position: relative;
}

#head{
    position: relative;
    z-index: 2;
}

#tela-pix{
    display: none;
    height: 850px;
}

#tela-confirmar{
    display: none;
    height: 850px;
}

#circle-top{
    position: absolute;
    background-color: #e7f5fe;
    width: 100%;
    height: 175%;
    top: 0;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    z-index: 1;
}

#circle-top-pix{
    position: absolute;
    background-color: #e7f5fe;
    width: 100%;
    height: 150%;
    top: 0%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    z-index: 1;
}
.por-cima{
    z-index: 3;
}

#date-place{
    position: absolute;
    width: 100%;
    height: 40%;
    
    display: flex;
    justify-content: center ;
    align-items: flex-end;    
    bottom: -12%;
}
.icon{
    color: #1190f1;
    font-size: 22px;
}

#navbar{
   
    position: relative;
    -webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.2);
  box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.2);
}

#plus-place{
    position: absolute;
    top:-32.5%;
}

.icon-text{
    color: #2762c0;
    font-size: 10px;
    font-weight: bold;
}

#barra{
    background-color: #59d12a;
    height: 5px;
    position: relative;
}
#barra-preenchida{
    background-color: #d12a2a;
    position: absolute;
    height: 5px;
    width: 40%;
    left: 0;
}
#date-place p{
    width: 70%;
    text-align: center;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}
#tela-home{
    display: none;
    height: 800px;
}

#desc-atividades p{
    font-size: 14px;
}
#desc-atividades span{
    font-size: 12px;
    text-transform: uppercase;
}

.data{
    font-size: 20px;
}

body{
    height: 100vh;
    z-index: 7 !important;
    background-color: #FFF;
}

.azul{
    color: #2a71a7;
}

.texto-cartao{
    font-size: 14px;
    font-weight: bold;
}

#options i{
    font-size: 25px;
    color: #fff;
   
}
#options p{
    width: 75px;
    text-transform: uppercase;
    
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: none;
    height: 30px;
    color: #335d9c;

    font-weight: 700 ;
}


#bola{
    height: 30px;
    width: 30px;
    background-color:  #0979cb;
    position: relative;
}

#parte-destino, #parte-como, #buttons{
    display: none;
}

.transferir{
    display: none;
}

#ok, #ok-fazer{
    position: absolute;
    top: -15%;
    right: -5%;
    display: none;
}



.bola-azul{

    background-color: #e7f5fe;
    padding: 8px 5px;
    border-radius: 100%;
}

.input-chave-valor{
    border: none;
    border-radius: 10px;
    background-color: #c6ccd1;
    color: #444546;
    font-size: 18px;
    padding: 10px;
    height: 33px;
    width: 70%;
    outline: none;
}

.formulario input{
    width: 70%;
    border-radius: 10px;
    border: 1px solid #2a71a7;
    height: 2.2rem;
    padding: 10px;
    outline: none;
    font-size: 20px
}

#tela-login{
    display: flex 
    ;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 40%, rgba(186,247,245,1) 58%, rgba(0,212,255,1) 100%);
}

#group-password{
    position: relative;
}

#group-password i{
    position: absolute;
    top: 25%;
    left: 75%;
    font-size: 20px;
    color:#33abe2 ;
    cursor: pointer;
}

#group-password-2{
    position: relative;
}

#group-password-2 i{
    position: absolute;
    top: 25%;
    left: 60%;
    font-size: 20px;
    color:#33abe2 ;
    cursor: pointer;
}


#ocultar, #ocultar-2{
    display: none;
}

#digitar-senha, #finalizado{
    display: none;
}

#senha-ok{
    position: absolute;
    left: 80%;
    top: 10%;
}

#group-password input{
    width: 70%;
    border-radius: 10px;
    border: 1px solid #33abe2;
    height: 2.2rem;
    padding: 10px;
    outline: none;
    font-size: 20px
}

.formulario button{
    width: 70%;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    padding: 5px;
    line-height: 50%;
    background-color: #335d9c;
    height: 1.8rem;
    text-transform: uppercase;
    color: #fff;
}

#options-pix p{
    width: 75px;
    text-transform: uppercase;
    
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: none;
    height: 30px;
    color: #335d9c;
    text-align: center;
    font-weight: 700 ;
}
